/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** body *****/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0a36;
}

/**** div star ****/

.star {
    position: relative;
    height: 0;
    width: 0;
    background-color: #ffff00;
}

/**** div inner ****/

.inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transform-origin: center bottom;
    border: 15px solid transparent;
    border-bottom: 45px solid #ffff00;
    height: 0;
    width: 0;
    z-index: 1;
}

.inner:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg);
}

.inner:nth-child(3) {
    transform: translate(-50%, -50%) rotate(144deg);
    /* 72x2 */
}

.inner:nth-child(4) {
    transform: translate(-50%, -50%) rotate(216deg);
    /* 72x3 */
}

.inner:nth-child(5) {
    transform: translate(-50%, -50%) rotate(288deg);
    /* 72x4 */
}